body{
  /*background: #f2f3ec;*/
  /*background: #DADCDB;*/
  background: #E9E7E7;
  /*margin:0px;
  padding: 0px;*/
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/*collective headline list*/
ul{
  list-style:none;
}

/*each headline list*/
a{
  text-decoration: none;
}

/*bottom section of INDEX under headline*/
.section-one{
  width: 100vw;
  height:95vh;
  background-color: #E9E7E7;
  background-size: cover;
  position:relative;

}

/*vertical lines for INDEX page*/
.vertical{
  z-index:2;
  border-left: 0.1vw solid #5C5D5F;
  height: 85vh;
  position:absolute;
  left: 5%;
}

.vertical-right-image{
  z-index:2;
  border-right: 0.1vw solid #5C5D5F;
  height: 85vh;
  position:absolute;
  left: 35%;
}

.vertical-right{
  border-right: 0.1vw solid #5C5D5F;
  height: 85vh;
  position:absolute;
  left: 95%;
}

/*bottom section of ABOUT under headline*/
.section-two{
  width: 100vw;
  height:100vh;
  /*background-color:#ded6cc;*/
  background-color: #E9E7E7;
  background-size: cover;
  /*position: relative;*/
}

/*bottom section of LEARNING under headline*/
.section-three{
  width: 100vw;
  height:100vh;
  /*background-color:#DADCDB;*/
  background-color: #E9E7E7;
  background-size: cover;
  position: relative;
}

/*headline bar*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:10vh;
  /*height: calc(15vh - 1vw);*/
  /*background-color: #E8E7E3;*/
  background-color: #E9E7E7;
  /*box-shadow:2px 2px 12px rgba(0,0,0,0.2);*/
  padding:0px 5%;
  border-bottom: 0.1vw solid #5C5D5F;
}

nav ul{
  display:flex;
}

/*headline font*/
nav ul li a{
  font-display: flex;
  margin: 5vh;
  font-family: optima;
  color:#5C5D5F;
  font-size: 1.5vw;
  letter-spacing: 0.2vh;
  font-weight:500;
  text-align:center;
  

  /*@media only screen and (max-width: 50vw) {
        font-size: 12px;
  }*/
}

/*class for headline options*/
/*.active{
  color:#2d2a2a;
}*/

/*Logo name font*/
.logo{
  font-family: optima;
  color: #000000;
  font-size: 4vw;
  letter-spacing: 0.4vh;
  font-weight:bold;
}

/*font for 3 lines of INDEX intro*/
.text-container p:nth-child(1){
  /*font-family:'DM Sans';*/
  font-family: optima;
  letter-spacing: 0.1vw;
  color:#0b0b0b;
  font-size: 2vw;
}

.text-container p:nth-child(2){
  /*font-family:'Tenor Sans';*/
  font-family: optima;
  font-weight:bold;
  letter-spacing: 0.1vw;
  color:#0b0b0b;
  font-size:3vw;
}
.text-container p:nth-child(3){
  /*font-family:'Tenor Sans';*/
  font-family: optima;
  letter-spacing: 0.1vw;
  color:#0b0b0b;
  font-size:1.5vw;
  line-height: 4vh;
}



/*spacing and stuff for my three lines of INDEX intro*/
.text-container p{
  line-height:3vh;
  /*margin:45px 0px 25px;*/
}

.text-container{
  z-index:3;
  position: absolute;
  left:50%;
  top:30%;
  right:5%;
  /*transform:translate(-13%,-42%);*/
}

/*Email me & View resume buttons in INDEX*/
.text-container button{
  left:40%;
  width:10vw;
  height:3.5vw;
  border-radius:1vw;
  margin-right: 1vw;
  font-family: optima;
  font-weight: bold;
  font-size: 1vw;
  outline: none;
  text-decoration: none;
}

.email-btn{
  border:2px solid #373636;
}

.email-btn a{
  color:black;
}

.down-cv{
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

.down-cv a{
  color: white;
}

/*effects when buttons are clicked*/
button:active{
  transform:scale(1.1);
}

/*profile picture in INDEX*/
.model{
  z-index:1;
  /*height:84.75vh; object-fit: cover;*/
  height:80vh; object-fit:cover;
  position:absolute;
  width:45vw; 
  left:2.5vw;
  /*top:10.25vh;*/
  top:15vh;
  /*border-radius: 50% 50% 0 0;*/
  /*border:1vh solid #5C5D5F;*/
}

/*NOT NEEDED*/
.about-container{
  width:90%;
  left:5vw;
  height:75vh;
  background-color: #f2f3ec;
  border-radius: 2vh;
  /*box-shadow: 2px 2px 12px rgba(0,0,0,0.2);*/
  display:flex;
  position: relative;
  justify-content:space-evenly;
  align-items:center;
  color:#2d2a2a;
}

/*.about-container img{
  height:250px;
}*/

/*Text box for ABOUT page*/
.about-text{
  position: absolute;
  left:5vw;
  top:20vh;
  width:90%;
  height: 80vh;
  /*background-color: #f2f3ec;*/
  justify-content:space-evenly;
  align-items: center;
}

/*"About Me" headline*/
.about-text p:nth-child(1){
  color:#000000;
  font-family: optima;
  font-weight: bold;
  font-size:2.5vw;
  line-height: 0.1vh;
  letter-spacing: 0.1vw;
}

/*One liner about jobs in ABOUT page*/
.about-text p:nth-child(2){
  color:#3e3d3d;
  font-size:1.5vw;
  font-family:'Tenor Sans';
  font-weight: bold;
  line-height: 5vh;
  letter-spacing: 0.1vw;
}

/*Body text in ABOUT page*/
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5),
.about-text p:nth-child(6){
  color:#373636;
  font-family:'Tenor Sans';
  font-size: 1.25vw;
  line-height: 3.5vh;
}

/*"About Me" headline*/
.about-text p:nth-child(7){
  color:#000000;
  font-family: optima;
  font-weight: bold;
  font-size:2.5vw;
  line-height: 0.1vh;
  letter-spacing: 0.1vw;
}

/*"Skills" headline*/
.about-text p:nth-child(8){
  color:#373636;
  font-family:'Tenor Sans';
  font-size: 1.25vw;
  line-height: 3.5vh;
}

/*Footer styling*/
footer{
  height:30vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#f2f3ec;
  font-family: optima;
  letter-spacing: 0.1vw;
  border-top: 0.1vw solid black;
}

.footer p{
  font-family: calibri;
  color: #f2f3ec;
  
}

/*"Contact me" headline in FOOTER*/
footer p:nth-child(1){
  font-size:2.5vw;
  font-weight:bold;
  color:#191919;
  line-height:3.5vh;
}

/*SNS icons in FOOTER*/
.social-icons a{
  width:4vw;
  height:4vw;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: lightslategray;
  margin: 2vw;
  border-radius: 50%;
  color:#000000;
  display: inline-flex;

}

.social-icons{
  display:inline-flex;
  align-items: center;
}

.social-icons a:hover{
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}








