html {
  margin: 0;
  padding: 0;
  position:relative;
}

body{
  background: #E9E7E7;
  /*height:100vh;*/
  width: 100vw;
  position:relative;
}

/*collective headline list*/
ul{
  list-style:none;
}

/*each headline list*/
a{
  text-decoration: none;
}

/*headline bar*/
nav{
  /*display: flex;
  justify-content: space-between;
  align-items:center;*/
  padding: 0px 5vw 0px 5vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height:7vh;
  background-color: #ffffff;
  /*border-bottom: 0.1vw solid #5C5D5F;*/
  position:relative;
  z-index: 1;
}

nav a{
  font-family: 'Merriweather';
  color:#5C5D5F;
  font-size: 2.25vmin;

}

/*nav ul{
  width: 90vw;
  /*align-items:center;
  text-align: center;*/
  /*justify-content:space-between;*/
  /*padding: 0px 5vw 0px 5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li{
  display: inline-flex;

}*/

/*headline font*/
/*nav ul li a{*/
  /*font-display: flex;*/
  /*margin: 4vw;*/
  /*margin: 0 4vw 0 4vw;*/
  /*font-family: /*DM Sans;optima;*/
  /*font-family: 'Merriweather';
  color:#5C5D5F;
  font-size: 1.25vw;
  /*letter-spacing: 0.1vh;*/
  /*text-align:center;*/
/*}*/

/*bottom section of INDEX under headline*/
.section-one{
  height:100vmin;
  background-color: #E9E7E7;
  background-size: cover;
  position:relative;
  /*border-left: 0.1vw solid #5C5D5F;
  border-right: 0.1vw solid #5C5D5F;*/
}

/*vertical lines for INDEX page*/
.vertical{
  z-index:2;
  border-left: 0.1vw solid #5C5D5F;
  height:100vh;
  position:absolute;
  left: 2.5vw;
}

.vertical-right-image{
  z-index:2;
  border-right: 0.1vw solid #5C5D5F;
  height: 90vh;
  position:absolute;
  left: 35vw;
}

.vertical-right{
  z-index: 2;
  border-right: 0.1vw solid #5C5D5F;
  height: 100vh;
  position:absolute;
  right:2.5vw;
}

/*Logo name font*/
.logo{
  z-index:1;
  height:10vh; 
  width: 20vh;
  position:absolute;
  padding: 0px 0px 0px 2vw;
  top:0vh;
}

/*Container for three lines of INDEX intro*/
.text-container{
  z-index:3;
  position: absolute;
  left:5vw;
  top:42.5vmin;
  width:90vw;
  text-align: center;
  /*transform:translate(-13%,-42%);*/
}

/*spacing and stuff for my three lines of INDEX intro*/
.text-container p{
  /*line-height:2vmin;*/
  letter-spacing: 0.1vmin;
  /*font-family: /*DM Sans;optima;*/
}

/*font for 3 lines of INDEX intro*/
.text-container p:nth-child(1){
  /*font-family:'DM Sans';*/
  color:#191919;
  font-size: 1.5vw;
  font-weight: 300;
  font-family: 'Merriweather';
}

.text-container p:nth-child(2){
  /*font-family:'Tenor Sans';*/
  font-weight:550;
  line-height: 10vmin;
  color:#191919;
  font-size:10vmin;
  font-family: 'Merriweather';
}
.text-container p:nth-child(3){
  /*font-family:'Tenor Sans';*/
  color:#191919;
  font-size:4vmin;
  font-weight: 300;
  line-height: 4vmin;
  font-family:'Merriweather';
  margin: -4vmin 0 0 0;
}

/*Email me & View resume buttons in INDEX*/
.text-container button{
  position:relative;
  width:25vmin;
  height:6vmin;
  border-radius:3vmin;
  margin: 6vmin 1.5vmin 0 1.5vmin;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 2vmin;
  outline: none;
}

.email-btn{
  border:2px solid #373636;
}

.email-btn a{
  color:black;
}

.down-cv{
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

.down-cv a{
  color: white;
}

/*effects when buttons are clicked*/
button:active{
  transform:scale(1.1);
}

.model-container{
  z-index:1;
  /*top:7.5vh;*/ /*right:39.5vw;*/
  height:50vmin; width:100vw;
  /*:auto;width:50vw;*/
  position:absolute;
  text-align: center;
  /*transform: scaleX(-1);*/
}
/*profile picture in INDEX*/
.model{
  z-index:1;
  /*top:7.5vh;*/ /*right:39.5vw;*/
  margin:5vmin 0.25vw 5vmin 0;
  height:40vmin; width:40vmin; object-fit: cover;
  /*:auto;width:50vw;*/
  /*position:absolute;*/

  /*transform: scaleX(-1);*/
  border-radius: 50%;
  border-width: 0.5vw;
  border-style: solid;
  border-color:#ffffff;
}

.rectangle {
  z-index:0;
  height: 30vmin;
  width: 100vw;
  background-color: #ffffff;
  position:absolute;
}

.vertline {
  height:100vw;
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/*NOT NEEDED*/
.about-container{
  width:90%;
  left:5vw;
  height:80vh;
  background-color: #f2f3ec;
  border-radius: 2vh;
  /*box-shadow: 2px 2px 12px rgba(0,0,0,0.2);*/
  display:flex;
  position: relative;
  justify-content:space-evenly;
  align-items:center;
  color:#2d2a2a;
}

/*.about-container img{
  height:250px;
}*/

/*bottom section of ABOUT under headline*/
.section-two{
  height:120vh;
  /*background-color:#ded6cc;*/
  background-color: #E9E7E7; /*#E7E6E2*/
  background-size: cover;
  position: relative;
}

/*Text box for ABOUT page*/
.about-text{
  position: absolute;
  left:5vw;
  /*top:20vh;*/
  top:10vh;
  width:90vw;
  height:100vh;
  /*background-color: #f2f3ec;*/
  justify-content:space-evenly;
  align-items: center;
}

/*"About Me" headline*/
.about-text p:nth-child(1){
  color:#000000;
  font-family: Merriweather;/*'Crimson Text', serif;*/
  font-weight: bold;
  font-size:2.5vw;
  line-height: 0.1vh;
  letter-spacing: 0.1vw;
}

/*One liner about jobs in ABOUT page*/
.about-text p:nth-child(2){
  color:#3e3d3d;
  font-size:1.5vw;
  font-family: Merriweather;
  font-weight: bold;
  line-height: 5vh;
  letter-spacing: 0.1vw;
}

/*Body text in ABOUT page*/
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5),
.about-text p:nth-child(6){
  color:#373636;
  font-family: Merriweather;
  font-size: 1.25vw;
  line-height: 4vh;
}


/*"About Me" headline*/
.about-text p:nth-child(7){
  color:#000000;
  font-family: Merriweather;
  font-weight: bold;
  font-size:2.5vw;
  letter-spacing: 0.1vw;
  line-height: 5vh;
  margin: -2vh 0 0 0;
}

/*"Skills" headline*/
.about-text p:nth-child(8),
.about-text p:nth-child(9),
.about-text p:nth-child(10){
  color:#373636;
  font-family: Merriweather;
  font-size: 1.25vw;
  line-height: 4vh;
}

/*bottom section of LEARNING under headline*/
.section-three{
  height:95vh;
  /*background-color:#DADCDB;*/
  background-color: #E9E7E7;
  background-size: cover;
  position: relative;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*Footer styling*/
footer{
  height:10vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#f2f3ec;
  font-family: DM Sans;
  letter-spacing: 0.2vw;
  border-top: 0.5vmin solid white;
  position:relative;
  /*border-left: 0.1vw solid #5C5D5F;
  border-right: 0.1vw solid #5C5D5F;*/
}

.footer p{
  color: #f2f3ec;
  
}

/*"Contact me" headline in FOOTER*/
footer p:nth-child(1){
  font-size:2.5vw;
  /*font-weight:bold;*/
  color:#5C5D5F;
  line-height:5vh;
  position: relative;
}

.social-icons{
  display:inline-flex;
  align-items: center;
}

/*SNS icons in FOOTER*/
.social-icons a{
  width:3.5vw;
  height:3.5vw;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: #5C5D5F;
  margin: 1vw 2.5vw 0 2.5vw;
  border-radius: 50%;
  color:#E9E7E7;
  /*display: inline-flex;*/
  display:flex;
  position: relative;
  font-size:1.25vw;

}

.social-icons a:hover{
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}








